
.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #939494;
    text-align:center;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black ;
    background-color: rgb(196, 196, 196);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(29, 165, 255);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(29, 165, 255);
}

footer a:hover {
    text-decoration: underline;
    color: rgb(53, 53, 252);
    font-style: none;
}

footer {
    margin: 0;
}

.footer {
    background-color: #fff;
    padding: 0px;
    border-top: 1px solid #a5a4a4;
    font-size: 0.8rem;
    color: #ffffff;
}

.footer__copyright {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 2px;
    font-size: 0.8rem;
    color: #000000;
}

.login-form {
    align-items: center;
    border:#000000 solid 1px;
    background-color:#ffffff;
    margin: 20px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 320px;
    min-width: 280px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.content__figure {
    flex: 1 1 320px;
    max-width: 520px;
    margin: 20px;
}

.content__image {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
}

.footer__nav {
    margin-bottom: 10px;    
}

footer a {
    color: #636060;
    text-decoration: none;
    font-size: 0.8rem;
}

.footer__nav--language ul, .footer__nav--policy ul, .footer__nav--product ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin: 1px;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}

.form__group {
    margin-bottom: 15px;
    text-align: center;
}

input[type="text"], input[type="password"] {
            width: 100%;
            padding: 14px 16px;
            border: 1px solid #dddfe2;
            border-radius: 6px;
            font-size: 1rem;
            box-sizing: border-box;
}

nav ~ nav {
            margin-top: 8px;
}

h2 + form {
    margin-top: 20px;
}